[Unit]
Description=nerves hub agent
Wants=network-online.target
After=network-online.target remote-fs.target

[Service]
#User=nerves-hub-agent
#Group=nerves-hub-agent
# Set to root until I figured out which permissions are needed
User=root
Group=root
WorkingDirectory=/var/lib/nerves-hub-agent
ExecStart=/usr/lib/nerves-hub-agent/bin/nerves_hub_agent start

Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
